<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280846050207-prpuq633ll101klsgp7k11oqm0ngejaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280846050207-prpuq633ll101klsgp7k11oqm0ngejaq</string>
	<key>API_KEY</key>
	<string>AIzaSyAxtiNmSZwmLGF9P_As1HL_yO8WMTNqDLM</string>
	<key>GCM_SENDER_ID</key>
	<string>280846050207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNwithTypeScript</string>
	<key>PROJECT_ID</key>
	<string>reactnativewithfirebase-d5ebc</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativewithfirebase-d5ebc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280846050207:ios:e8e0658876833431b353aa</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativewithfirebase-d5ebc.firebaseio.com</string>
</dict>
</plist>